<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/png" href="{$basePath}/favicon.png" />
	<link rel="stylesheet" href="{$basePath}/bootstrap-4.3.1-dist/css/bootstrap.css">

	<script src="{$basePath}/js/jquery-3.1.1.min.js"></script>

	<script src="{$basePath}/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
	<script src="{$basePath}/js/popper.js"></script>

	<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>

	<title>{ifset title}{include title|stripHtml} | {/ifset}ChatCrypt</title>

</head>

<body class="bg-dark">

{snippet flashes}
	<div n:if="$flashes" class="container text-center">
		<div n:foreach="$flashes as $flash" n:class="alert, $flash->type">{$flash->message}</div>
	</div>
{/snippet}

{include content}

</body>
</html>
